%h2 Resend confirmation instructions
= form_for(@user, url: confirmation_path(:user)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .actions
    = f.submit 'Resend confirmation instructions'

= link_to 'Back', :back
