- url_path = current_user.is_admin? ? user_path(@user) : registration_path(@user)
- title = current_user.is_admin? ? "Edit #{@user.to_s.humanize}" : 'My Profile'
%h2= title
= form_for(@user, url: url_path) do |f|
  = devise_error_messages!
  .field
    = f.label :first_name
    %br
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br
    = f.text_field :last_name
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, autocomplete: 'email'
  - if current_user.is_admin?
    .field
      = f.label :manager
      %br
      = f.check_box :is_manager
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  - unless current_user.is_admin?
    .field
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br
      = f.password_field :password, autocomplete: 'off'
      - if @minimum_password_length
        %br
        %em
          = @minimum_password_length
          characters minimum
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: 'off'
    .field
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br
      = f.password_field :current_password, autocomplete: 'off'
  .actions
    = f.submit 'Update'
