%h2 The List of Issues

= link_to 'Create new Issue', new_issue_path

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Status
      %th Created at
      %th Updated at
      %th Manager
      %th Created by
      %th Actions
  %tbody
    - @issues.each do |issue|
      %tr
        %td= link_to issue.title.to_s, edit_issue_path(issue.id)
        %td= issue.description
        %td= issue.status
        %td= issue.created_at.to_s(:long)
        %td= issue.updated_at.to_s(:long)
        %td= issue.assignee.to_s
        %td= issue.owner.to_s
        %td= link_to 'Delete', issue_path(issue.id), method: :delete, data: { confirm: 'Are you sure?' }

= paginate @issues
