%h2 The List of Users

= form_for(User.new, url: invite_user_path) do |f|
  = devise_error_messages!

  .field
    = f.label :email
    %br
    = f.email_field :email

  .actions
    = f.submit 'Invite'

%table
  %thead
    %tr
      %th Full Name
      %th Role
      %th Email Address
      %th Confirmed
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.to_s, edit_user_path(user.id)
        %td= user.role
        %td= user.email
        %td= user.confirmed? ? 'yes' : 'no'
